.navigation-buttons {
  display: flex;
  height: 100%;
}

.navigation-buttons a{
  display: flex;
  align-items: center;
  color: #11B5E4;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 13px;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: bold;
}

.navigation-buttons a:hover{
  background-color: rgb(197, 241, 255);
}