* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 13px;
  color: #555;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF;
}
html {
  scroll-behavior: smooth;
}